.backBtn {
    border: none;
    color: black;
    background: transparent;
    font-weight: 700;
    cursor: pointer;
    transition: color 250ms;
}

.backBtn:hover {
    color: rgb(243, 106, 21);
}

.container {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid rgb(7, 6, 7);
}

.image {
    width: 200px;
    object-fit: contain;
    border-radius: 5px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.title {
    font-size: 30px;
}

.overviewDisc {
    max-width: 80%;
}

.additional {
    padding: 20px;
    margin: 0 auto;
    width: 300px;
}

.additionalTitle {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}

.additionalList {
    display: flex;
    column-gap: 15px;
    justify-content: center;
}

.link {
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.active {
    color: rgb(243, 106, 21);
    font-size: 14px;
    text-decoration: none;
    font-weight: 800;
}